.swiper {
    padding: 2rem;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active{
    background-color: #718096;
}

.swiper-button-prev{
    color:  #718096;
}
.swiper-button-next{
    color:  #718096;
}